# Database Configuration
DATABASE_URL=postgres://levan:postgres@localhost:5432/users_service?sslmode=disable

# Application Configuration
BINARY_NAME=crud-todo
APP_PORT=8080
APP_ENV=development

# Server Configuration
SERVER_HOST=localhost
SERVER_PORT=8080

# Database Migration
MIGRATIONS_DIR=migrations

# Build Configuration
BINARY_PATH=bin/crud-todo

# Gin Configuration
GIN_MODE=release

# JWT Configuration
JWT_SECRET=test12
